.form_error_msg {
    color:#ff0000;
    position: absolute;
    top: 42px;
    left: 0;
}

.top-form {
    font-weight: bold;
}

.reg-error {
    color:#ff0000;
}

.form_has_error {
    color:#ff0000;
}

.reg-form_error {
    text-align: center;
    margin: 25px 0 15px;
    color:#ff0000;
    margin: 25px 0 15px;
    color: #ff0000;
    position: absolute;
    bottom: 39px;
    width: 100%;
}

.reg-form .popup {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.reg-form .popup .overlay
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 95;
    width: 100%;
    height: 100%;
}

.reg-form .popup .container
{
    display: block;
    width: 320px;
    padding: 20px;
    margin: 5% auto 0;
    position: relative;
    background: #fff;
    z-index: 100;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    text-align: center;
}

form.form-container input {
    width: 100%;
    height: 45px;
    background: #f7f7f7;
    border: none;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

form.form-container input#phone {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    display: inline-block;
}

form.form-container input[type="checkbox"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

form.form-container .form_input--group {
    width: 100%;
    margin: 10px auto 0;
}