

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic');

body {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #fff;
}

button:hover,
button:active,
button:focus,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    outline: none;
}


.container {
    max-width: 1280px;
    width: 100%;
}



.header {
    height: 100px;
    background: #fff;
}

.header__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    max-width: 196px;
    width: 100%;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.social-icons {
    width: calc(100% - 630px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-now {
    position: relative;
}

.register-now__label {
    border: 2px solid #ff144f;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    line-height: 1;
}

.register-now__count {
    position: absolute;
    right: -30px;
    top: -11px;
    width: 65px;
    height: 65px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #ff144f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.register-now__count-number {
    font-size: 25px;
    line-height: 25px;
}

.register-now__count-unit {
    font-size: 12px;
    line-height: 12px;
}

.main {
    background: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.registration-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 10px;
}

.main__sub-title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
}

.video-cont {
    max-width: 836px;
    width: calc(100% - 420px);
    border-radius: 5px;
}

.video {
    position: relative;
    z-index: 2;
    padding-bottom: 54.5%; /* 16:9 */
    padding-top: 15px;
    height: 0;
}

.video__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index:1000;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%    !important;
    height: auto   !important;
}

.reg-form {
    width: 400px;
    border: 4px solid #fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.enroll-form__step1 {
    position: relative;
}

.reg-form__title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin: 10px 0 30px;
    text-align: center;
    text-shadow: 0 0 20px rgba(52,171,223,0.8);
}

.reg-form__icons {
    text-align: center;
    margin: 15px 0 5px;
}

.reg-form__icons img {
    max-width: 278px;
    width: 100%;
    height: auto;
}

.reg-form__preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
}

.reg-form__preloader-img {
    width: 85px;
}

.enroll-form__row {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enroll-form__col {
    width: 100%;
    position: relative;
}

.enroll-form__col1 {
    width: 48%;
    position: relative;
}

.enroll-form__col2 {
    width: 30%;
    position: relative;
}

.enroll-form__col2 .enroll-form__input {
    padding: 0 5px;
}

.enroll-form__col3 {
    width: 67%;
    position: relative;
}

.enroll-form__input {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 2px;
    border: none;
    padding: 0 5px 0 47px;
    font-size: 18px;
}

.enroll-form__icon {
    position: absolute;
    left: 1px;
    top: 1px;
}

.btn-custom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9d02+0,ff6d00+100 */
    background: #ff9d02; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9d02 0%, #ff6d00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff9d02 0%,#ff6d00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff9d02 0%,#ff6d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d02', endColorstr='#ff6d00',GradientType=0 ); /* IE6-9 */

    padding: 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    cursor: default;
}

.btn-custom:hover {
    color: #fff;
    background: #fb720c;
	cursor: pointer;
}

.btn-custom_full-width {
    width: 100%;
}

.btn-custom_blue {
    background: #ff4285; /* Old browsers */
    background: -moz-linear-gradient(top, #ff4285 0%, #ff4b8b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff4285 0%,#ff4b8b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff4285 0%,#ff4b8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4285', endColorstr='#ff4b8b',GradientType=0 ); /* IE6-9 */
}

.btn-custom_blue:hover {
    background: #ff4285;
}

.social-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 55px;
    margin-bottom: 35px;
}

.social-desc__item {
    width: 24%;
    background: #fff;
    padding: 30px 17px 10px;
    border-radius: 5px;
    min-height: 376px;
    align-self: stretch;
}

.social-desc__item-img-cont {
    height: 105px;
    margin-bottom: 10px;
}

.social-desc__item-img {
    display: block;
    margin: 0 auto;
}

.social-desc__item-title {
    text-align: center;
    color: #b2b2b2;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-desc__item-desc {
    font-size: 14px;
    line-height: 1.2;
}

.partners-icons {
    margin: 20px 0;
    max-width: 367px;
    width: 100%;
    height: auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #eceeef;
    position: relative;
}

.modal-footer .btn {
    border-radius: 10px;
    background: rgba(252,249,248,0.8);
}

.modal-header .close {
    position: absolute;
    right: 0;
    top: 8px;
    opacity: 1;
    margin: 0;
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1.3;
    text-align: center;
}

.modal {
    font-size: 16px;
}

.modal h5 {
    font-size: 18px;
    font-weight: bold;
}

.modal h6 {
    font-size: 17px;
    font-weight: bold;
}

.modal-content {
    border-radius: 20px;
    background: rgba(255,255,255,0.9);
    border: 5px solid #716c69;
    padding: 0 20px;
}

.modal-lg-custom .modal-body {
    text-align: center;
}

.modal-backdrop.in {
    opacity: 0.7;
}

.modal-lg-custom {
    width: 450px;
}

.footer {
    background: #2d000c;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: #fff;
}

.footer__cont {

}

.footer__terms {
    font-size: 12px;
    line-height: 1;
    color: #1b4b7f;
}

.footer__link {
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.footer__email {
    color: #fff;
    transition: all 0.3s ease;
}





/************************************** MEDIA QUERIES **************************************/

@media all and (max-width: 1280px) {
    .social-icons {
        width: 340px;
    }

    .register-now {
        margin-right: 27px;
    }
}
@media all and (max-width: 991px){
    .registration-cont{
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;
    }
    .video-cont {
        width: 100% !important;
        margin-bottom: 20px;
        max-width: none;
    }
    .reg-form{
        width: 100% !important;
    }
}

@media all and (max-width: 768px) {
    .header {
        height: auto;
        padding-bottom: 10px;
    }

    .header__cont {
        display: block;
        position: relative;
        padding-top: 70px;
    }

    .logo {
        position: absolute;
        left: 10px;
        top: 15px;
        width: 128px;
        margin: 0;
    }

    .social-icons {
        width: 100%;
    }

    .social-icons__item {
        width: 60px;
        display: inline-block;
        height: auto;
    }

    .register-now {
        position: absolute;
        right: 10px;
        top: 17px;
    }

    .main__title {
        font-size: 22px;
    }

    .main__sub-title {
        font-size: 16px;
    }

    .registration-cont {
        flex-wrap: wrap;
    }

    .video-cont {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .reg-form {
        width: 100% !important;
    }

    .reg-form__title {
        font-size: 24px;
    }

    .social-desc {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-desc__item {
        width: 47%;
        margin: 0 10px 3%;
    }

    .btn-custom_blue {
        font-size: 16px;
    }
}

@media all and (max-width: 700px) {
    .social-desc__item {
        width: 100%;
        max-width: 450px;
        margin: 0 0 3%;
        min-height: auto;
    }

    .partners-icons {
        width: 100%;
    }

    .footer__links {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }

    .reg-form__icons img {
        display: inline-block;
        width: 100%;
    }

    .enroll-form__row {
        flex-wrap: wrap;
    }

    .enroll-form__col1:first-child {
        margin-bottom: 30px;
    }

    .enroll-form__col1 {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .footer__links {
        position: relative;
        padding-top: 30px;
        text-align: center;
        display: block;
    }

    .footer__copyright {
        position: absolute;
        left: 20px;
        top: 10px;
    }

    .footer__email {
        position: absolute;
        right: 20px;
        top: 10px;
    }
}

@media all and (max-width: 400px) {
    .register-now__label {
        font-size: 12px;
    }

    .logo {
        left: -7px;
    }

    .register-now {
        right: -7px;
    }

    .social-icons__item {
        width: 50px;
    }
}

#register_form .checkbox-wrapper label{
    color: #fff;
}

#register_form input{
    color: #fff;
}

.intl-tel-input.separate-dial-code .selected-dial-code{
    color: #6b6464;
}

#register_form .send-form{
    background: #ff9d02;
    background: -moz-linear-gradient(top, #ff9d02 0%, #ff6d00 100%);
    background: -webkit-linear-gradient(top, #ff9d02 0%,#ff6d00 100%);
    background: linear-gradient(to bottom, #ff9d02 0%,#ff6d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d02', endColorstr='#ff6d00',GradientType=0 );
    padding: 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    cursor: default;
    opacity: 1;
    width: 100%;
}

@media all and (max-width: 1200px){
    .video-cont{
        width: calc(100% - 370px);
    }
    .reg-form{
        width: 100%;
    }
}

 #register_form .send-form:hover{
    color: #fff !important;
    background: #fb720c !important;
    cursor: pointer !important;
}

.algorithm-video{
    width: 100%;
    border: 7px solid #fff;
}
